@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Geist Variable', sans-serif;
  
  --color-brand: #263DA8;
  --color-brand-active: #203794;
  --color-navy: #1E2F85;
  --color-background-app: #FFFFFF;
  --color-background-card: #FFFFFF;
  --color-background-subtle: #F1F5F9;
  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;
  --color-border-divider: #E2E8F0;
  --color-status-success: #10B981;
  --color-status-pending: #F59E0B;
  --color-status-error: #E11D48;
}

@layer base {
  .dark {
    --color-brand: #3B82F6;
    --color-brand-active: #1E3A8A;
    --color-background-app: #0F172A;
    --color-background-card: #1E293B;
    --color-background-subtle: #1e293b;
    --color-text-primary: #F8FAFC;
    --color-text-secondary: #94A3B8;
    --color-border-divider: #334155;
  }
}

@layer base {
  body {
    @apply bg-background-app text-text-primary antialiased;
    margin: 0;
    min-height: 100vh;
  }
}